@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Marck+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

main {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 100%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 0 0 15px black;
}

.curseforge-btn {
    border: 1px solid rgb(248, 110, 66);
    background: rgba(248, 110, 66, 0.15);
    color: rgb(248, 110, 66);
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: 25px;

    &:hover {
        transform: scale(1.02);
        color: white;
        background: rgba(248, 110, 66, 0.25);
    }
}

.modrinth-btn {
    border: 1px solid rgb(41, 229, 116);
    background: rgba(41, 229, 116, 0.15);
    color: rgb(41, 229, 116);
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: 25px;

    &:hover {
        transform: scale(1.02);
        color: white;
        background: rgba(41, 229, 116, 0.25);
    }
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mod-logo {
    filter: drop-shadow(0 0 10px black);
}

.mod-img {
    filter: drop-shadow(0 0 7px black);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mod-img-cu {
    width: 50%;
}

.mod-name {
    font-size: 40px;
    font-family: "Popins", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.mod-desc-chap {
    font-size: 25px;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 3px;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
}

.warn-img {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 0;
}

#first-line::first-letter {
    initial-letter: 2;
    margin-right: 5px;
    font-family: "Unbounded", sans-serif;
}

p {
    color: white;
    font-size: 17px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

details {
    margin-top: 10px;
}

ul {
    padding: 10px 18px;
}

li {
    list-style: "- ";
    color: white;
}
