main {
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

h2 {
    font-size: 40px;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    color: white;
    padding: 4px;
    border-bottom: 1px solid white;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;

    & a {
        font-family: "Popins", sans-serif;
        -webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #fff;
    }
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 35px;
}

.service {
    position: relative;
    height: auto;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
    max-width: 256px;
    background: rgba(255, 255, 255, 0.02);

    & a { text-decoration: none; }

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.3);
        transform: translateY(-5px);
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 1);
        /*box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5) inset, -10px -10px 10px rgba(0, 0, 0, 0.35) inset;*/

        .service-icon {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}

.service-content {
    padding: 10px;
}

.service-icon {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    border-radius: 0;
}

.service-name {
    font-size: 25px;
    font-family: "Unbounded", sans-serif;
    color: white;
    margin-bottom: 5px;
}

.service-price {
    font-size: 22px;
    font-family: "Unbounded", sans-serif;
    color: rgba(54, 54, 225, 1);
    margin-bottom: 10px;
    text-decoration: underline;
}


@media (max-width: 767px) {
    h2 {
        font-size: max(5vw, 27px);
    }

    .service-name {
        font-size: 20px;
    }

    .service-price {
        font-size: 17px;
    }
}

