@import "mixins";

main {
    @include elementCenterMargin;
    max-width: 1150px;
    margin-bottom: 50px;
    margin-top: 20px;
}

h2 {
    @include indent;
    font-size: 40px;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    color: white;
    padding: 4px;
    border-bottom: 1px solid white;
    margin-top: 20px;
    word-wrap: break-word;

    a { @include textFill; }
}

.services-list {
    @include elementCenterFlexWrap;
    gap: 15px;
    padding-top: 35px;
}

.service {
    position: relative;
    height: auto;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
    max-width: 256px;
    background: var(--card-bg);

    a { text-decoration: none; }

    &:hover {
        border: 1px solid var(--border-color);
        transform: translateY(-5px);
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 1);
        /*box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5) inset, -10px -10px 10px rgba(0, 0, 0, 0.35) inset;*/

        .service-icon {
            border-bottom: 1px solid var(--border-color);
        }
    }
}

.service-content {
    padding: 10px;
}

.service-icon {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    border-radius: 0;
}

.service-name {
    font-size: 25px;
    font-family: "Unbounded", sans-serif;
    color: white;
    margin-bottom: 5px;
}

.service-price {
    font-size: 22px;
    font-family: "Unbounded", sans-serif;
    color: var(--skylight-blue);
    margin-bottom: 10px;
    text-decoration: underline;
}


@media (max-width: 767px) {
    .service {
        width: 200px;
    }

    h2 {
        font-size: max(5vw, 27px);
    }

    .service-name {
        font-size: 20px;
    }

    .service-price {
        font-size: 17px;
    }
}

@media (max-width: 414px) {
    .service {
        width: 160px;
    }

    .service-name {
        font-size: 15px;
    }

    .service-price {
        font-size: 13px;
    }
}
