@import "mixins";

main {
    @include elementCenterMargin;
    margin-bottom: 70px;
    margin-top: 50px;
    width: 100%;
    max-width: 1100px;
}

.studio-logo {
    filter: var(--default-shadow);
    width: min(600px, 100vw);
}

.member-list {
    @include indent;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 25px;
}

.member {
    display: flex;
    text-decoration: none;
    background: var(--card-bg);
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: all 0.5s;
    flex-grow: 1;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.02);
        box-shadow: 0 0 20px black inset;
        opacity: 0.75;

        .mini-img {
            filter: drop-shadow(0 0 0 transparent);
        }
    }
}

.links {
    @include elementCenterFlexWrap;
    gap: 10px;
    margin-top: 20px;

    li { list-style-type: none; }
}

.discord-btn {
    background: #5865F2;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.35s;

    &:hover {
        opacity: 0.6;
    }
}

.youtube-btn {
    background: rgba(255, 0, 0, 0.85);
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.35s;

    &:hover {
        opacity: 0.7;
    }
}

@media (max-width: 767px) {
    .discord-btn, .youtube-btn {
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .member-list {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}
