:root {
    --default-shadow: drop-shadow(0 0 10px black);

    --skylight-blue: #3636e1;
    --skylight-blue-dark: #0f0f9c;
    --skylight-blue-rgb: 54, 54, 225;
    --mde-orange-rgb: 225, 97, 33;
    --mde-dark-orange-rgb: 228, 57, 28;
    --border-color: rgba(255, 255, 255, 0.3);
    --card-bg: rgba(255, 255, 255, 0.02);
    --site-bg: #18181b;
    --text-color: white;
}
