@mixin textFill($stroke-color: #fff, $fill-color: transparent, $thickness: 1px) {
    font-family: "Popins", sans-serif;
    -webkit-text-fill-color: $fill-color;
    -webkit-text-stroke: $thickness $stroke-color;
}

@mixin elementCenterFlex() {
    display: flex;
    justify-content: center;
}

@mixin elementCenterFlexWrap() {
    @include elementCenterFlex;
    flex-wrap: wrap;
}

@mixin elementCenterMargin() {
    margin-left: auto;
    margin-right: auto;
}

@mixin indent() {
    margin-right: 2%;
    margin-left: 2%;
}

@mixin price($text-color: var(--skylight-blue), $font-size: 22px, $text-decor: underline) {
    font-size: $font-size;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    text-decoration: $text-decor;
    color: $text-color;

    &.not-static::before {
        font-family: "Nunito";
        font-weight: 1000;
        content: "~ ";
    }
}