@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
header {
  position: sticky;
  top: 0px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(24, 24, 27, 0.85);
  padding: 10px 14%;
  transition: all 0.7s;
  z-index: 9999;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 0 30px -1px black;
}

.active-tab {
  color: var(--skylight-blue);
  border-bottom: 2px solid var(--skylight-blue);
  padding-bottom: 1px;
}

.lang-icon {
  color: currentColor;
  position: relative;
  font-size: 18px;
  top: 3px;
  right: 6px;
}

#nav-links {
  display: flex;
  gap: 5px;
}
#nav-links li {
  list-style-type: none;
}
#nav-links a {
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  font-size: 17px;
  transition: all 0.5s;
  padding: 10px 20px;
  border-radius: 10px;
}
#nav-links a b .material-symbols-outlined {
  position: relative;
  color: currentColor;
  font-size: 22px;
  top: 4px;
  right: 4px;
}
#nav-links a:hover {
  color: var(--skylight-blue);
  background: rgba(0, 0, 0, 0.3);
}

#header-buttons {
  display: flex;
  gap: 10px;
}

#adap-site-header {
  display: none;
}

#burger-button {
  display: none;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
}
#burger-button span {
  color: var(--text-color);
  padding: 3px 8px;
}

@media (max-width: 767px) {
  #burger-button {
    display: block;
  }
  #nav-bar {
    display: none;
  }
  header {
    padding: 10px 2%;
  }
  #adap-site-header {
    position: absolute;
    top: 80px;
    background-color: rgba(24, 24, 27, 0.7);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    filter: var(--default-shadow);
    width: 96%;
    padding: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 200;
  }
  #adap-site-header.active-header {
    display: block;
  }
  #adap-nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
  }
  #adap-nav-links a {
    padding-left: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 22px;
    color: white;
    text-decoration: none;
  }
  #adap-nav-links a b .material-symbols-outlined {
    position: relative;
    color: currentColor;
    font-size: 24px;
    top: 4px;
    right: 4px;
  }
  #adap-nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--skylight-blue-dark);
    border-radius: 10px;
  }
}
footer {
  padding: 30px 14% 30px;
  background: linear-gradient(180deg, rgba(24, 24, 27, 0.5) 45%, rgba(54, 54, 225, 0.1));
  border-top: 1px solid var(--border-color);
  box-shadow: 0 4px 30px -2px black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-pillar h3 {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 20px;
}
.footer-pillar .button:hover, .footer-pillar .button-tr:hover {
  transform: none;
  color: white;
}
.footer-pillar li {
  margin-bottom: 6px;
  list-style-type: none;
}
.footer-pillar li a {
  display: block;
  color: var(--text-color);
  font-size: 15px;
  transition: all 0.4s;
  text-decoration: none;
}
.footer-pillar li a:hover {
  transform: translateY(-1px) translateX(-2px);
  color: var(--skylight-blue);
}
.footer-pillar .material-symbols-outlined {
  font-size: 16px;
  top: 3px;
  left: 3px;
  position: relative;
  color: #acacac;
}

.first-column-param {
  color: var(--text-color);
}

#mail {
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}
#mail:hover {
  color: var(--skylight-blue);
}

@media (max-width: 767px) {
  footer {
    padding: 30px 2% 30px;
  }
}
@media (max-width: 300px) {
  #footer-img {
    width: 96vw;
    height: auto;
  }
}
:root {
  --default-shadow: drop-shadow(0 0 10px black);
  --skylight-blue: #3636e1;
  --skylight-blue-dark: #0f0f9c;
  --skylight-blue-rgb: 54, 54, 225;
  --mde-orange-rgb: 225, 97, 33;
  --mde-dark-orange-rgb: 228, 57, 28;
  --border-color: rgba(255, 255, 255, 0.3);
  --card-bg: rgba(255, 255, 255, 0.02);
  --site-bg: #18181b;
  --text-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Nunito";
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
  line-height: 1.4;
}

#container {
  height: 100%;
}

#box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--site-bg);
}

main {
  flex: 1 1 auto;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 17px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::selection {
  background: rgba(54, 54, 225, 0.8);
  color: white;
}

::-webkit-scrollbar {
  width: 7px; /* ширина для вертикального скролла */
  height: 7px; /* высота для горизонтального скролла */
  background-color: rgba(0, 0, 0, 0.97);
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #636363;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: transparent;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-color: transparent;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background-color: transparent;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background-color: transparent;
}

.no-display {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

img {
  border-radius: 15px;
}

.mini-img {
  background-color: transparent;
  margin-right: 15px;
  border-radius: 10px;
  height: 6rem;
  width: 6rem;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.5s;
  filter: drop-shadow(5px 5px 6px black);
}

.url {
  color: var(--skylight-blue);
  font-family: "Unbounded", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}
.url:hover {
  color: rgba(54, 54, 225, 0.8);
}

.code {
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 7px;
  padding: 0 7px;
}

details {
  border-radius: 10px;
  border: 2px solid var(--skylight-blue);
  overflow: hidden;
  cursor: pointer;
  padding: 0.4rem 0.4rem 0;
}
details summary {
  background-color: var(--skylight-blue);
  color: white;
  margin: -0.4rem -0.4rem 0;
  padding: 0.4rem 0.7rem;
}
details summary:hover {
  background-color: rgba(var(--skylight-blue-rgb), 0.8);
}

details[open] {
  padding: 0.4rem;
}
details[open] summary {
  margin-bottom: 8px;
}

.select-menu {
  padding: 6px 16px;
  border-radius: 10px;
  background-color: var(--skylight-blue);
  color: white;
  outline: none;
  transition: all 0.3s;
}
.select-menu:hover {
  background-color: rgba(var(--skylight-blue-rgb), 0.8);
}
.select-menu label {
  font-size: 18px;
}

.options-list {
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.35);
  padding: 13px;
  position: absolute;
  display: none;
  gap: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.select-option {
  color: white;
  padding: 5px 8px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
.select-option:hover {
  background-color: var(--skylight-blue);
}

.selected-select-option {
  background-color: rgba(var(--skylight-blue-rgb), 0.7);
}

.button {
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  background: var(--skylight-blue);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  opacity: 0.7;
}
.button:active {
  transform: scale(0.9);
}

.button-tr {
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  background: transparent;
  border: 2px solid var(--skylight-blue);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.button-tr:hover {
  opacity: 0.7;
}
.button-tr:active {
  transform: scale(0.9);
}

.card-title {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: white;
}

.card-desc {
  font-size: 18px;
  color: #a6a6a6;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.copy-chapter:hover {
  cursor: copy;
}
.copy-chapter:hover .copy-url-icon {
  display: inline !important;
}
@media (max-width: 767px) {
  .mini-img {
    height: 4rem;
    width: 4rem;
  }
  details summary {
    font-size: 14px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-desc {
    font-size: 15px;
  }
  .button {
    font-size: 13px;
  }
  .button .material-symbols-outlined {
    font-size: 20px;
  }
  .copy-url-icon {
    display: inline !important;
  }
  .url {
    font-size: 13px;
  }
}

/*# sourceMappingURL=styles.css.map */
