footer {
    padding: 30px 14% 30px;
    background: linear-gradient(180deg, rgba(24, 24, 27, 0.5) 45%, rgba(54, 54, 225, 0.4));
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px -2px black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-pillar {
    h3 {
        color: #fff;
        margin-bottom: 1rem;
        font-size: 20px;
    }

    .button:hover {
        transform: none;
        color: white;
    }

    li {
        margin-bottom: 6px;
        list-style-type: none;
    }

    li a {
        display: block;
        color: white;
        font-size: 15px;
        transition: all 0.4s;
        text-decoration: none;

        &:hover {
            transform: translateY(-1px) translateX(-2px);
            color: var(--skylight-blue);
        }
    }

    .material-symbols-outlined {
        font-size: 16px;
        top: 3px;
        left: 3px;
        position: relative;
        color: #acacac;
    }
}

.first-column-param {
    color: white;
}

#mail {
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;

    &:hover {
        color: var(--skylight-blue);
    }
}

@media (max-width: 767px) {
    footer {
        padding: 30px 2% 30px;
    }
}

@media (max-width: 300px) {
    #footer-img {
        width: 96vw;
        height: auto;
    }
}